html,
body {
  font-family: 'Roboto', sans-serif;
  color: #404040;
  background-color: #eee;
}

.container {
  width: 520px;
  margin-top: 0px
}

.button-group {
  margin-bottom: 20px;
}

.counter {
  display: inline;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10px;
}

.posts {
  clear: both;
  list-style: none;
  padding-left: 0;
  width: 100%;
}

.posts li {
  background-color: #fff;
  border: 1px solid #d8d8d8;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
  min-height: 42px;
}

.inactive-state {
	opacity: 0.1;
    filter: alpha(opacity=40); /* msie */
}

#running-icon {
    color: #2ecc71;
    text-shadow: 1px 1px 1px #ccc;
    
}

#stopped-icon {
    color: #e74c3c;
    text-shadow: 1px 1px 1px #ccc;
    
}

#reset-icon {
    color: #f1c40f;
    text-shadow: 1px 1px 1px #ccc;
    
}

p.simple-label{
	font-weight: bold;
}

body {
    font-size: 12px;
    font-family: Verdana;
}
#data-table {
    border: 1px solid #ccc;
    display: table;
    padding: 3px;
}
#data-table .data-row {
    display: table-row;
}
#data-table .data-cell {
    padding: 1px 5px;
    border: 1px dotted #ccc;
    margin: 3px;
    min-height: 25px;
    min-width: 100px;
    cursor: pointer;
}
#data-table .data-cell input {
    max-width: 100px;
}
.data-button {
    padding: 5px;
}

#status-box , #config-box, #operation-box  {
	text-align: center;
}
